web/WEB-INF/wsdl/localhost_8084/ElectroESCOM_API/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.electroescom.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.electroescom.com/">

<xs:element name="consultarUsuarios" type="tns:consultarUsuarios" />

<xs:element name="consultarUsuariosResponse" type="tns:consultarUsuariosResponse" />

<xs:element name="iniciarSesion" type="tns:iniciarSesion" />

<xs:element name="iniciarSesionResponse" type="tns:iniciarSesionResponse" />

<xs:element name="insertar" type="tns:insertar" />

<xs:element name="insertarResponse" type="tns:insertarResponse" />

<xs:complexType name="insertar">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0" />
<xs:element name="nombrePila" type="xs:string" minOccurs="0" />
<xs:element name="apellidoPaterno" type="xs:string" minOccurs="0" />
<xs:element name="apellidoMaterno" type="xs:string" minOccurs="0" />
<xs:element name="correo" type="xs:string" minOccurs="0" />
<xs:element name="contrasenia" type="xs:string" minOccurs="0" />
<xs:element name="tipoUsuario" type="xs:byte" />
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0" />
<xs:element name="telefono" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarUsuarios">
<xs:sequence />
</xs:complexType>

<xs:complexType name="consultarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarSesion">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0" />
<xs:element name="nombrePila" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarSesionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>